<<<<<<< HEAD

=======
.agoraPage{
    display: flex;
    background-color: white;
    width: 80%;
    height: 100%;
    margin-left: 50px;
    /* max-width: 1450px; */
}
>>>>>>> master
.sideMenu{
    flex-basis: 100px;
    border: 1px solid gray ;
    position: fixed;
    top: 134px;
    border: none
}
.sideMenuPage{
    flex-basis: 210px;
}

.articleListPage{
    flex-grow: 1;
}

<<<<<<< HEAD
=======
.notice{
    height: 134px;
}
>>>>>>> master

#articleListHeader{
    position: relative;
    margin: 0 0 0 0;
    padding-left: 10px;
}

#writeArticleButton{
    position: absolute;
    right: 0;
    float: right;
}