.IB{
  display: inline-block;
  box-sizing: border-box;
}
.articleListItemContainner{
  border :  1px solid black;
  display: flex;
  margin-top: 15px;
}
.titleCreatedAtContainner{
  flex-grow: 9;
  /* flex-basis: 70%; */
  flex-direction: column;
}
.adtional{
  flex-basis: 100px;
  height: 4rem;
  display: flex;
}
.likeCount{
  flex-basis: 50px;
}
.commentCount{
  flex-basis: 50px;
}
.clicked{
  flex-basis: 50px;

}
.articleTitle{
  box-sizing: border-box;
  line-height: 2em;
  padding-left : 5px; 
}
.createdAt{      
  padding-left : 5px; 
  height: 2em;
  box-sizing: border-box;
  line-height: 2em;
  }
.center{
  text-align: center;
  line-height: 4rem;
}    
.file{
  flex-grow: 1;
}
.picture{
  flex-grow: 1;
}

.listIndex{
  display: inline-block;
  width: 15px;
  height: 15px;
  color: white;
  background-color: black;
  margin-right: 5px;
  line-height: 15px;
  text-align: center;
  cursor: pointer;  
}

.listIndex:hover{
  background-color: gray;
}