.mainpage{
    display: inline-block;
    width: 100%;
    min-height: 100vh;
    height: 100%;
    margin-left: 15rem;
    background-color: gray;
}

.notice{
    height: 134px;
}

.communityPage{
    display: flex;
    background-color: white;
    width: 80%;
    height: 100%;
    margin-left: 50px;
    min-height: 100vh;
    /* max-width: 1450px; */
}

.addArticlePage{
    display: flex;
    flex-direction: column;
    background-color: white;
    width: 80%;
    height: 100%;
    min-height: 100vh;
    margin-left: 50px;
    max-width: 1450px;
}

.sideMenu{
    flex-basis: 100px;
    position: relative;
    border: 1px solid gray ;
    top: 134px;
    border: none
}
.sideMenuPage{
    flex-basis: 210px;
}

.articleListPage{
    padding-left: 10px;
    flex-grow: 1;
}

.notice{
    height: 134px;
}

#articleListHeader{
    position: relative;
    margin: 0 0 0 0;
}

#writeArticleButton{
    margin-top: 2px;
    margin-right: 10px;
    position: absolute;
    right: 0;
    float: right;
}

.articleImg{
    max-width: 100%;
}

.getArticleTitle{
    margin-top: 15px;
    font-size: 1.5rem;
    padding-bottom: 3px;
    border-bottom: 1px solid rgba(214, 211, 211, 0.658)
} 

.articleContent{
    margin-top: 15px;
}

.modifyDelete{
    height: 36px;
    position: relative;
    margin-top: 15px;
} 
.modifyUl{
    position: absolute;
    right: 0;
    margin : 0;
}

.modifyUl li{
    float: left;
    margin-right: 10px;
    list-style-type : none;
}

