.navibar {
    flex-basis : 2.5rem; 
    position: fixed;
    height: 100%;
    background-color: green;
}
.item{
    text-align: center;
}
.menu_logo{
   font-size: 50px;
}
.loginbox{
    height: 76px;
    background-color: silver;
    font-size: 25px;
}
.login_icon{
    font-size: 25px;
}
#left{
    margin-right: 10px;
}
#right{
    margin-left: 10px;
    margin-right: 0;
}
#currentBox{
    text-align: center;
    font-size: 15px;
}
#line{
    line-height: 10px;
}
.buttons{
    font-size: 1.2rem;
   line-height: 40px;
}

.login{
    display: inline-block;
    cursor: pointer;
}